<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="csrf-token" content="{{_csrf}}">
        <title>Rilakkuma Store - User Account</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/visualcaptcha.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <h1>Rilakkuma Store <small>User Account</small></h1>

            <ul class="nav nav-tabs">

            {{#equal userSection 'login'}}
                <li role="presentation" class="pull-right"><a href="/" class="text-success">Return to Store</a></li>
                <li role="presentation" class="pull-right"><a href="/account/create" class="text-success">Create Account</a></li>
                <li role="presentation" class="pull-right active"><a href="/account/login" class="text-warning">Sign In</a></li>
            {{else}}
                {{#equal userSection 'create'}}
                <li role="presentation" class="pull-right"><a href="/" class="text-success">Return to Store</a></li>
                <li role="presentation" class="pull-right active"><a href="/account/create" class="text-success">Create Account</a></li>
                <li role="presentation" class="pull-right"><a href="/account/login" class="text-warning">Sign In</a></li>
                {{else}}
                <li role="presentation" {{#equal userSection 'orders'}}class="active"{{/equal}}><a href="/account">Orders</a></li>
                <li role="presentation" class="pull-right"><a href="/" class="text-success">Return to Store</a></li>
                <li role="presentation" class="pull-right"><a href="/account/logout" class="text-danger">Sign Out</a></li>
                <li role="presentation" {{#equal userSection 'newpassword'}}class="active pull-right"{{/equal}} class="pull-right"><a href="/account/newpassword" class="text-warning">Change Password</a></li>
                {{/equal}}
            {{/equal}}
            </ul>

            {{{body}}}
        </div>

        <!-- javascript libraries -->
        <script src="/lib/jquery-2.1.3.min.js"></script>
        <script src="/lib/bootstrap.min.js"></script>
        <script src="/lib/handlebars-v3.0.0.js"></script>
        <script src="/lib/xss-filters.1.0.6.min.js"></script>
        <script src="/lib/secure-handlebars-helpers.min.1.0.4.js"></script>
        <script src="/lib/moment.min.js"></script>
        <script src="/lib/ui.csrf.js"></script>
        {{#each uiScripts}}
        <script src="/lib/{{this}}"></script>
        {{/each}}
    </body>
</html>