<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="csrf-token" content="{{_csrf}}">
        <title>Rilakkuma Store</title>

        <link rel="stylesheet" href="/css/metro-bootstrap.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header id="store-nav" class="navbar navbar-default container">
            <h2 id="store-title" class="navbar-header">Rilakkuma Store</h2>

            <section id="cart">
                <p id="cart-summary">
                    <span class="fa fa-shopping-cart"></span> Shopping List
                    <span class="cart-total">(Total:&nbsp;</span><span class="fa fa-usd"></span><span id="cart-amount"></span><span class="cart-total">)</span>
                </p>
                <div id="cart-detail">
                    <div id="cart-product-list"></div>
                    <button type="button" class="btn btn-success cart-checkout">
                        <span class="fa fa-sign-out"></span> Checkout
                    </button>
                </div>
            </section>
            <section id="my-account">
                <span class="fa fa-user"></span> My Account
            </section>
        </header>

        <div id="page-body" class="container">{{{body}}}</div>

        <script id="cart-detail-tpl" type="text/x-handlebars-template">
            {{!-- before context-parser-handlebars:
            <table class="table">
                \{{#each products}}
                <tr>
                    <td class="cart-name"><a href="/\{{catid}}-\{{catslug}}/\{{pid}}-\{{slug}}" class="xhr-enable">\{{name}}</a></td>
                    <td class="cart-qty" data-pid="\{{pid}}">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm cart-minus" data-type="minus">
                                    <span class="fa fa-minus"></span>
                                </button>
                            </span>
                            <input type="text" class="form-control" value="\{{qty}}" min="0">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm cart-plus" data-type="plus">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </span>
                        </div>
                    </td>
                    <td><span class="fa fa-at"></span>$\{{price}}</td>
                </tr>
                \{{/each}}
            </table>
            --}}

            <table class="table">
                \{{#each products}}
                <tr>
                    <td class="cart-name"><a href="/\{{{yavd (yu catid)}}}-\{{{yavd (yu catslug)}}}/\{{{yavd (yu pid)}}}-\{{{yavd (yu slug)}}}" class="xhr-enable">\{{{yd name}}}</a></td>
                    <td class="cart-qty" data-pid="\{{{yavd pid}}}">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm cart-minus" data-type="minus">
                                    <span class="fa fa-minus"></span>
                                </button>
                            </span>
                            <input type="text" class="form-control" value="\{{{yavd qty}}}" min="0">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm cart-plus" data-type="plus">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </span>
                        </div>
                    </td>
                    <td><span class="fa fa-at"></span>$\{{{yd price}}}</td>
                </tr>
                \{{/each}}
            </table>
        </script>

        <script id="cart-refresh-tpl" type="text/x-handlebars-template">
            <a href="#"><span class="fa fa-refresh"></span> Refresh to view latest cart</a>
        </script>

        <!-- javascript libraries -->
        <script src="/lib/jquery-2.1.3.min.js"></script>
        <script src="/lib/bootstrap.min.js"></script>
        <script src="/lib/handlebars-v3.0.0.js"></script>
        <script src="/lib/xss-filters.1.0.6.min.js"></script>
        <script src="/lib/secure-handlebars-helpers.min.1.0.4.js"></script>
        <script src="/lib/URI.js"></script>
        <script src="/lib/ui.csrf.js"></script>
        <script src="/lib/ui.frontend.js"></script>
        <script src="/lib/ui.cart.js"></script>
    </body>
</html>