<br />
<div class="row">
    <!-- category selection and product list -->
    <div class="col-md-5">
        <div class="panel panel-default">
            <table class="table table-hover" id="user-order-list">
                <thead>
                    <tr class="active">
                        <th>Date Created</th>
                        <th>Payment ID</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="col-md-7" id="user-order-content">
        <div class="alert alert-info">Click on <strong>Payment ID</strong> to show order details.</div>
    </div>
</div>

<script id="order-list-empty-tpl" type="text/x-handlebars-template">
    <tr>
        <td colspan="3" class="warning text-center">There are no orders associated with this account.</td>
    </tr>
</script>

<script id="order-detail-tpl" type="text/x-handlebars-template">
    {{!-- before context-parser-handlebars:
    <div class="panel \{{panelClass}}">
        <div class="panel-heading">
            <strong>Your order details for \{{paymentId}}</strong>
            <span class="label \{{labelClass}} pull-right">\{{state}}</span>
        </div>
        <div class="panel-body">
            <p>Order Created: \{{created}}</p>
            <p>Last Updated: \{{updated}}</p>
            <br />
            <table class="table table-hover">
                <thead>
                    <tr class="active">
                        <th colspan="2">Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                \{{#items}}
                    <tr class="order-items">
                        <td class="col-md-2"><img src="\{{image_path}}" class="img-thumbnail " /></td>
                        <td class="col-md-4">\{{name}}</td>
                        <td class="col-md-1 text-right">\{{quantity}}</td>
                        <td class="col-md-3">\{{currency}} \{{price}}</td>
                    </tr>
                \{{/items}}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3" class="text-right">Total</th>
                        <th>\{{currency}} \{{total}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        \{{#retry}}
        <div class="panel-footer text-right">
            You may want to:
            <a href="\{{.}}" class="btn btn-warning">Retry payment</a>
        </div>
        \{{/retry}}
    </div>
    --}}

    <div class="panel \{{{yavd panelClass}}}">
        <div class="panel-heading">
            <strong>Your order details for \{{{yd paymentId}}}</strong>
            <span class="label \{{{yavd labelClass}}} pull-right">\{{{yd state}}}</span>
        </div>
        <div class="panel-body">
            <p>Order Created: \{{{yd created}}}</p>
            <p>Last Updated: \{{{yd updated}}}</p>
            <br />
            <table class="table table-hover">
                <thead>
                    <tr class="active">
                        <th colspan="2">Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                \{{#items}}
                    <tr class="order-items">
                        <td class="col-md-2"><img src="\{{{yavd (yu image_path)}}}" class="img-thumbnail " /></td>
                        <td class="col-md-4">\{{{yd name}}}</td>
                        <td class="col-md-1 text-right">\{{{yd quantity}}}</td>
                        <td class="col-md-3">\{{{yd currency}}} \{{{yd price}}}</td>
                    </tr>
                \{{/items}}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3" class="text-right">Total</th>
                        <th>\{{{yd currency}}} \{{{yd total}}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        \{{#retry}}
        <div class="panel-footer text-right">
            You may want to:
            <a href="\{{{yavd (yu .)}}}" class="btn btn-warning">Retry payment</a>
        </div>
        \{{/retry}}
    </div>
</script>

<script id="order-list-item-tpl" type="text/x-handlebars-template">
    {{!-- before context-parser-handlebars:
    \{{#items}}
    <tr class="order-item" data-pid="\{{payid}}">
        <td>\{{dateTime}}</td>
        <td class="order-item-payment">\{{paymentId}}</td>
        <td><span class="label \{{labelClass}}">\{{state}}</span></td>
    </tr>
    \{{/items}}
    --}}

    \{{#items}}
    <tr class="order-item" data-pid="\{{{yavd payid}}}">
        <td>\{{{yd dateTime}}}</td>
        <td class="order-item-payment">\{{{yd paymentId}}}</td>
        <td><span class="label \{{{yavd labelClass}}}">\{{{yd state}}}</span></td>
    </tr>
    \{{/items}}
</script>

<script id="loading-message-tpl" type="text/x-handlebars-template">
    <div class="alert alert-info" role="alert">
        <i class="fa fa-refresh fa-spin loading-spin"></i> Please wait...
    </div>
</script>

<script id="error-message-tpl" type="text/x-handlebars-template">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        \{{{message}}}
    </div>
</script>
